<div class="list-show d-flex align-items-center justify-content-center flex-column">
  <div class="top-container d-flex align-items-center w-85 mb-3">
    <div class="back-to-list-btn w-50 d-flex align-items-center justify-content-start ">
      <%= link_to lists_path, class:"d-flex align-items-center justify-content-center" do %>
        <i class="fas fa-arrow-left"></i>
        <p>Back to list</p>
      <% end %>
    </div>
    <div class="delete-list-btn w-50 d-flex align-items-center justify-content-end">
      <%= check_delete_btn %>
    </div>
  </div>
<div data-aos="flip-right" data-aos-delay="300">
  <div class="card-container d-flex align-items-center justify-content-center flex-column">
    <div class="card-container-flexbox d-flex align-items-start justify-content-heavenly flex-column">
      <div class="card-title">
        <h1><%= @list.name %></h1>
      </div>
      <div class="card-creator-name">
        <p><span>Created by: </span><%= @list.user.email %></p>
      </div>
      <div class="card-creation-time">
        <p>8 minutes ago</p>
      </div>
      <div class="card-description">
        <p><span>Description: </span><%= @list.description %></p>
      </div>
      <div class="shotgunners-title">
        <h2>Shotgunners</h2>
      </div>
      <div class="shotgunners-left">
        <p><span><%= @list.shotguns.count %> shotguns</span> left out of <span><%= @list.places %></span></p>
      </div>
      <div class="shotgunners-list">
        <% @list.shotguns.each do |shotgun| %>
          <p><i class="fas fa-arrow-right"></i>   <%= shotgun.user_id.nil? ? "Guest User" : shotgun.user.username %></p>
        <% end %>
      </div>
      <div class="bottom-sharing-link-container d-flex align-items-center justify-content-center w-100 mb-1">
        <div class="sharing-link-container d-flex align-items-center justify-content-center">
          <div class="sharing-link-tagline">
            <p>SHARE THE LINK</p>
          </div>
          <div class="sharing-link-logo d-flex align-items-center justify-content-center">
            <i class="fas fa-link"></i>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
  <%= check_shotgun_btn %>
</div>
