<div class="list-show d-flex align-items-center justify-content-center flex-column">
  <div class="card-container d-flex align-items-center justify-content-center flex-column">
    <div class="card-container-flexbox d-flex align-items-start justify-content-heavenly flex-column">
      <div class="card-title">
        <h1><%= @list.name %></h1>
      </div>
      <div class="card-creator-container d-flex align-content-start  flex-row">
        <div class="card-creator-img"></div>
        <div class="card-creator-name">
          <p><%= @list.user.email %></p>
        </div>
        <div class="card-creation-time">8 minutes ago</div>
      </div>
      <div class="card-description">
        <p><span>Description: </span><%= @list.description %></p>
      </div>
      <div class="shotgunners-containers d-flex align-content-start flex-column">
        <div class="shotgunners-title"></div>
        <div class="shotgunners-left">
          <p> <%= @list.shotguns.count %> / <%= @list.places =>
        </div>
      </div>
      <div class="shotgunners-list">
        <% @list.shotguns.each do |shotgun| %>
          <%= shotgun.user_id.nil? ? "Guest User" : shotgun.user.username %>
        <% end %>
      </div>
      <div class="sharing-link-container d-flex align-items-center justify-content-center">
        <div class="sharing-link-tagline">
          <p>SHARE THE LINK</p>
        </div>
        <div class="sharing-link-logo d-flex align-items-center justify-content-center">
          <i class="fas fa-link"></i>
        </div>
      </div>
    </div>
  </div>
    <%= link_to check_shotgun_btn do %>
      <div class="shotgun-cta">
        <h3>Shotgun</h3>
      </div>
    <% end %>
    <%= check_delete_btn %>
</div>
