<h1>List name: <%= @list.name %></h1>
<p>Description: <%= @list.description %></p>
<p>created by: <%= @list.user.email %></p>
<p>Available spots: <%= @list.places %></p>
<p>Shotguns: <%= @list.shotguns.count %> </p>
<p>Shotgunnerz :</p>
<% @list.shotguns.each do |shotgun| %>
    <%=  shotgun.user_id.nil? ? "Guest User" : shotgun.user.username %>
<% end %>

<%= check_show %>
